/* Variable name format dark-light */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "metropolis";
  src: url("/client//frontend/public/fonts/metropolis/Metropolis-Bold.woff2")
      format("woff2"),
    url("/client//frontend/public/fonts/metropolis/Metropolis-Light.woff2")
      format("woff"),
    url("/client//frontend/public/fonts/metropolis/Metropolis-Medium.woff2")
      format("woff"),
    url("/client//frontend/public/fonts/metropolis/Metropolis-Regular.woff2")
      format("woff"),
    url("/client//frontend/public/fonts/metropolis/Metropolis-SemiBold.woff2")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "metropolis", sans-serif;
}

:root {
  /* Common variables */
  --picton-blue: #25adf9;
  --blue-crayola: #07f;

  /* Light Theme Variables */
  /* Colors */
  --primary: #ffffff;
  --primary-inverted: #000000;

  /* Gradients */
  --gradient-accent: linear-gradient(
    114deg,
    var(--picton-blue) 6.19%,
    var(--blue-crayola) 41.65%
  );
}

[data-theme="dark"] {
  /* Colors */
  --primary: #000000;
  --primary-inverted: #ffffff;

  /* Gradients */
  --gradient-accent: linear-gradient(
    114deg,
    #00e5d1 6.19%,
    var(--picton-blue) 37.23%,
    var(--blue-crayola) 94.85%
  );
}
