@import url("./variables.style.css");

@font-face {
  font-family: "metropolis";
  src: url("/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"),
    url("/fonts/metropolis/Metropolis-Light.woff2") format("woff"),
    url("/fonts/metropolis/Metropolis-Medium.woff2") format("woff"),
    url("/fonts/metropolis/Metropolis-SemiBold.woff2") format("woff"),
    url("/fonts/metropolis/Metropolis-Metropolis-Bold.woff2") format("woff");
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "metropolis", sans-serif;
}
